@charset "UTF-8";

/* Basic */

html {
  height: 100%;
  color: #494b4d;
  font-family: 'Bungee Hairline', cursive;
}

body {
	background: url("../images/overlay.png"), url("../images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body.js-lock-scroll {
  overflow: hidden !important;
}

body.js-lock-pointer {
  pointer-events: none !important;
}

body, input, select, textarea {
	color: #444 !important;
	font-family: 'Bungee Hairline', cursive !important;
	font-size: 15pt !important;
	font-weight: 300 !important;
	line-height: 1.65em !important;
}

a {
	color: #4dac71;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus, a:hover {
  color: #226181;
}

strong, b {
	color: #666;
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: 300;
	line-height: 2em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.35em;
	line-height: 1.5em;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: medium 1px rgba(144, 144, 144, 0.25);
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

blockquote {
	border-left: solid 4px rgba(144, 144, 144, 0.25);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 4px;
	border: solid 1px rgba(144, 144, 144, 0.25);
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
}

pre code {
	display: block;
	line-height: 1.75em;
	padding: 1em 1.5em;
	overflow-x: auto;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/*simple circle*/
.circle {
    margin-top: 150px;
    width: 550px;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
	color: black;
    margin-bottom: -50px;
}

/*Gooey menu*/
#banner {
  height: 100%;
}

.menu_opener {
  display: none;
}

.menu_opener:checked ~ .link_one {
  top: 15px;
}

.menu_opener:checked ~ .link_two {
  left: 415px;
}

.menu_opener:checked ~ .link_three {
  top: 443px;
}

.menu_opener:checked ~ .link_four {
  left: -18px;
}

.menu_opener:checked ~ .menu_opener_label:after {
  transform: rotate(45deg);
  top: -130px;
}

.menu_opener:checked ~ .menu_opener_label:before {
  transform: rotate(-45deg);
  top: -130px;
}

.menu_opener_label {
  background: #848484;
  width: 250px;
  height: 250px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 180px;
  left: 150px;
  z-index: 10;
	border: 1px solid #ffffff;
}

.link_general {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 200px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
	font-size: 18px;
	color: white;
	border: 1.5px solid #ffffff;
}

.link_one {
    background: #fff;
}

.link_two {
    background: #e4ff57;
}

.link_three {
    background: #f73131;
}

.link_four {
    background: #140efb;
}

.link_four h4 {
    color: white;
}

.circletext{
	line-height: 1.5em;
  margin-top: 50px;
  color: black;
  font-weight: bold;
}

.logo_image {
    height: 70%;
    margin-top: 17%;
}

/* Modal Styles */

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 90%;
  height: 80%;
  position: relative;
  margin: 5% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
	border-radius: 20px;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  text-decoration: none;
  padding-right: 20px;
  font-weight: 900;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  font-weight: 900;
}

.modal-window h3 {
  font-size: 120%;
  font-weight: 900;
}

#header {
    background-color: black;
    opacity: 0.8;
    height: 50px;
}

#header h1,
#header p,
#header a {
    display: inline;
    vertical-align: bottom;
    font-weight: 600;    
}

#header h1 {
    padding-left: 20px;
    margin: 0;
    font-size: 1.5em;
    vertical-align: text-bottom;
}

#header p,
#header a {
    color: #ffffff;
}

#header .login {
    border-left: none;
}

.login ul {
    margin: 0;
}

#ScalarHeaderMenuRight a.headerIcon:focus, #ScalarHeaderMenuRight a.headerIcon:hover, #ScalarHeaderMenuRight a.headerIcon:active {
    background-color: transparent !important;
}

#other_books {
    margin-left: 0;
    width: 97%;
    max-width: 97%;
}

#other_books .book_icons li {
    background: transparent;
    height: 100%;
    width: 100% !important;
}

#other_books .book_icons p {
    font-family: 'Open Sans', sans-serif;
}

.content {
    overflow-y: scroll;
}

.content::-webkit-scrollbar { 
    display: none; 
}