@charset "UTF-8";

/* Basic */

html {
  height: 100%;
  color: #494b4d;
  font-family: 'Droid Serif', serif;
}

body {
	background: url("../images/overlay.png"), url("../images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
  overflow-x: hidden;
}

body.js-lock-scroll {
  overflow: hidden !important;
}

body.js-lock-pointer {
  pointer-events: none !important;
}

body, input, select, textarea {
	color: #444;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 300;
	line-height: 1.65em;
}

a {
	color: #4dac71;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus, a:hover {
  color: #226181;
}

strong, b {
	color: #666;
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.75em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.35em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: medium 1px rgba(144, 144, 144, 0.25);
	margin: 2em 0;
}

hr.major {
	margin: 3em 0;
}

blockquote {
	border-left: solid 4px rgba(144, 144, 144, 0.25);
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

code {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 4px;
	border: solid 1px rgba(144, 144, 144, 0.25);
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2em 0;
}

pre code {
	display: block;
	line-height: 1.75em;
	padding: 1em 1.5em;
	overflow-x: auto;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.sidebox {
	margin-top:1em;
	color: white;
	line-height: 0.2em;
}

/*simple circle*/
.circle {
    margin-top: 150px;
    width: 550px;
    display: block;
    margin: auto;
    position: relative;
		text-align: center;
		color: black;
}

/*Gooey menu*/
.menu_opener {
  display: none;
}

.menu_opener:checked ~ .link_one {
  top: -150px;
}

.menu_opener:checked ~ .link_two {
  left: 460px;
}

.menu_opener:checked ~ .link_three {
  top: 294px;
}

.menu_opener:checked ~ .link_four {
  left: 0px;
}

.menu_opener:checked ~ .menu_opener_label:after {
  transform: rotate(45deg);
  top: -130px;
}

.menu_opener:checked ~ .menu_opener_label:before {
  transform: rotate(-45deg);
  top: -130px;
}

.menu_opener_label {
  background: #848484;
  width: 250px;
  height: 250px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 180px;
  z-index: 10;
	border: 1px solid #ffffff;
}

.link_general {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 225px;
  background: #BDBDBD;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
	font-size: 18px;
	color: white;
	border: 1.5px solid #ffffff;
}

.circletext{
	line-height: 7em;
}

/* Modal Styles */

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 70%;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
	border-radius: 20px;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
